.App {
  text-align: center;
  background-color: #FFFAFA;
}

.App-logo {
  animation: scaleIn infinite 10s linear;
  height: 40vmin;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleIn {
  0% {
    -webkit-opacity: 0;
    -webkit-transform: scale(.3);
    opacity: 0;
    transform: scale(.3);
  }
  25% {
    -webkit-opacity: 0.5;
    -webkit-transform: scale(.7);
    opacity: 0.5;
    transform: scale(.7);
  }
  50% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
  }
75% {
    -webkit-opacity: 0.5;
    -webkit-transform: scale(.7);
    opacity: 0.5;
    transform: scale(.7);
  } 
  100% {
    -webkit-opacity: 0;
    -webkit-transform: scale(.3);
    opacity: 0;
    transform: scale(.3);
  } 
}
nav {
    display: inline;
    font-weight: bold;
}
#restaurantfoto {
  max-width: 100%;
  height: auto;
}

.mapelement {
  display: inline-block;
  margin-left: 1em;
}

.restaurant {
  text-align: right;
  margin-right: 5em;
}

.resetmap {
  margin: 3em;
  margin-top: 10em;
  font-weight: bold;
}

nav li {
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.8em;
}

#root {
  background-color: lightyellow
}

#homepage {  
  display: block;
  width: 100%;
}

#homepagetitle{
  margin-top: 10%;
  text-align: center;
  margin-left: auto;
	margin-right: auto; 
	display: block;
}
#michelinlogo{
  margin-left: auto;
	margin-right: auto;
	width: 15%;
	height: 15%;
	display: block
}

.leaflet-routing-container, .leaflet-routing-error {
    width: 320px;
    background-color: white;
    padding-top: 4px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

#restotitle{
  font-weight:bold;
  margin-left:auto;
  margin-right:auto;
}

button {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#restoname {
    font-weight: bold;
    margin: 1em;
}

#detaildiv{
  margin-left: 2em;
}

#detailimage {
  width: 25%;
  height: auto;
  margin: 1em;
}

#detailtable td:nth-child(1) {
  font-weight: bold;
  padding: 0.5em;
}

#detailtable td:nth-child(2) {
  padding: 0.5em;
  max-width: 500px;
}

