header {
    width: auto;
    padding: 2em;
}

.imglogo {
    height: 90px;
    width: auto;
}

figcaption {
    font-weight: bold;
}

img {
    width: 90%;
    height: auto;
}

.radioresultchooser {
    display: inline;
    text-align: center
}

button {
    font-weight: bold;
    margin: 1em;
    border-radius: 0.1em;
}

.searchbutton {
    font-weight: bold;
    border-radius: 1em;
    border: 0.1em solid;

}

.radiolabel{
    font-weight: bold;
}
input[type=text] {
    text-align: center;
    margin: 1em;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 1em;
}

.headeritem {
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-spacing: 1em;
    background-color: #f6d8ac;
    border-width: 0.2em;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    align-content: space-around;
    padding: 1em;
    border-radius: 1em;
}

.grid-item {
    background-color: #f6d8ac;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-style: solid;
    border-color: black;
    border-width: 0.2em;
    border-radius: 1em
}

.char-name {
    font-weight: bold;
    margin: 1em;
    padding: 1em;
}
